:root {
    --primary-color: #fff;
    --secondary-color: green;
    --accent1-color: rgb(21, 171, 171);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 900px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 0 0.5rem 0;
}

article p {
    color: #000000;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    text-decoration: none;
    color: rgb(0, 0, 207);
    font-size: 1.3rem;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0.2rem;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.history-text,
.history-image {
    justify-content: space-around;
}

.history-image {
    width: 100%;
    height: auto;
    margin: 0.5rem 2rem;
}

h2 {
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
}

.adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure img {
    max-width: 150px;
    max-height: 200px;
    margin: 1rem;
}

.hero article {
    position: absolute;
    top: 3rem;
    width: 95%;
    padding: 0.2rem;
    opacity: .7;
    background-color: var(--accent1-color);
    color: black;
}

.hero article img {
    width: 225px;
    height: auto;
    float: right;
    opacity: 1;
}

footer nav img {
    width: 30px;
}

footer {
    border-top: 3px dotted gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0 auto;
}