:root {
    --primary-color: rgb(0, 0, 139);
    --margin-standard: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 600px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 25rem;
    margin: var(--margin-standard);
    border: 2px solid black;
    padding: 2px;
    background-color: orangered;
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--margin-standard);
    border-top: 3px dotted grey;
    text-align: center;
}